:root{
    /* color */
    --green:#4CAF4F;
    --silver:#F5F7FA;
    --gray:#4D4D4D;
    --balck:#263238;
    --white: #ffffff;

    /* text */
    --heading-1:64px;
    --heading-2:36px;
    --heading-3:28px;
    --heading-4:20px;

    --body-regular-1:18px;
    --body-regular-2:16px;
    --body-regular-3:14px;
    --body-regular-4:12px;

    --body-medium-1:18px;
    --body-medium-2:16px;
    --body-medium-3:14px;
    --body-medium-4:12px;

    --font-weight-bold:700;
    --font-weight-semibold:600;
    --font-weight-medium:500;
    --font-weight-regular:400;
}
body{
    font-family: "Inter", sans-serif !important;
}
nav{
    height: 84px;
    font-family: "Inter", sans-serif;
    font-size: var(--bodyregular);
    background-color: var(--silver);
    color: var(--gray);
}
#login-button{
    text-decoration: none;
    margin-right: 1em;
}
#signup{
    background-color: var(--green);
    border:none;
}
.hero{
    position: relative;
    background-color: var(--silver);
    height: 599px;
    margin: auto;
    margin-top: 8.2em;
    width: 100%;
}
.label{
    font-size: var(--heading-1);
    font-weight: var(--font-weight-semibold);
    font-family:  'Inter',sans-serif;
    color: var(--gray);
}
.label2{
    font-size: var(--heading-1);
    font-weight: var(--font-weight-semibold);
    font-family:  'Inter',sans-serif;
    color: #4CAF4F;
}
.lead{
    font-size: var(--body-regular-2);
    color: var(--gray);
}
#herobtn{
    background-color: var(--green);
    color: var(--white);
    border-radius: 4px;
}
#clients{
    font-size: var(--heading-2);
    color: var(--gray);
}
#clienttxt{
    font-size: var(--body-regular-2);
    columns: var(--gray);
}
#clientlogo{
    padding: 135px !important;
}
.community h2{
    font-size: var(--heading-2);
    font-weight: var(--font-weight-semibold);
    color: var(--gray) ;
}
.card-title{
    font-size: var(--heading-3);
    font-weight: var(--font-weight-semibold);
    color: var(--gray) !important;
}
.card-text{
    font-size: var(--body-regular-3);
    color: var(--gray);
}
.card{
    border: none !important;
}
#unlockhead{
    font-size: var(--heading-2);
    font-weight: var(--font-weight-semibold);
    color: var(--gray);
}
.achivements{
    background-color: var(--silver) !important;
}
#achivetext{
    font-size: var(--heading-3);
    color: var(--gray) !important;
}
#achivetext p{
    font-size: var(--body-regular-2);
    color: var(--gray) !important;
}
#calenderbody{
    font-size: var(--body-regular-3);
    color: var(--gray);
}
#calenderhead{
    font-size: var(--heading-2);
    color: var(--gray);
    font-weight: var(--font-weight-semibold);
}
#tim{
    font-size: var(--heading-4);
}
.customers p{
    font-size: var(--body-regular-2);
    color: var(--gray) !important;
}
